/* ----Reset---- */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

/* ----Common---- */
body{
    background-image: url(./img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* ----Sidebar---- */
.side{
    position: fixed;
    left: -100%;
    max-width: 350px;
    width: 100%;
    background-color: #b98108;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in;
}

/* Logo */
.side header{
    text-align: center;
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 30px 0;
    background-color: #745004;
    user-select: none;
}

/* Menu Items */
.side .nav-links{
    width: 100%;
    overflow-y: auto;
}

.nav-links li a{
    display: block;
    color: #fff;
    line-height: 65px;
    padding-left: 20px;
    transition: all 0.3s ease-in;
}

.nav-links li a i{
    margin-right: 10px;
}

.nav-links li a:hover{
    background-color:#7c5a11;
}

/* Drop Down Menus */
.nav-links ul{
    padding-left: 20px;
}

.nav-links .drop1,
.nav-links .drop2,
.nav-links .drop3,
.nav-links .drop4{
    max-height: 0;
    overflow: hidden;
}

.nav-links label{
    display: block;
    cursor: pointer;
}

#services:checked ~ .nav-links .drop1,
#graphics:checked ~ .nav-links .drop2,
#logos:checked ~ .nav-links .drop3,
#photos:checked ~ .nav-links .drop4{
    max-height: 100%;
}

/* Show and Hide Menus */
input{
    display: none;
}

.mbtns > label{
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.mbtns > label i{
    color: #130f40;
    font-size: 1.6rem;
}

.mbtns > .showbtn{
    display: block;
}

#s-menu:checked ~ .side{
    left: 0;
}

#s-menu:checked ~ .mbtns > .closebtn{
    display: block;
}

#s-menu:checked ~ .mbtns > .showbtn{
    display: none;
}